<h3 class="text-light pt-2">Últimas Transacciones
    <a class="btn btn-primary fs-6 fw-bold py-1 w-auto" [routerLink]="['/transaction']">VER MÁS</a>
</h3>
<div class="row">
    <div class="alert text-start p-2" *ngFor="let transaction of transactionList;"
        [ngClass]="[transaction.status | tranStatusClass_border]">
        <a type="button" class="btn" [routerLink]="['/transaction', transaction.transactionId]"
            [ngClass]="[transaction.status | tranStatusClass_btn]">
            Más información</a>
        <span class="fw-bold ps-1">{{ transaction.stamp }}</span> - {{transaction.terminal.name}} - {{transaction.status | tranStatusDescription}} - ${{transaction.amount | defaultCeroForDecimalNumbers}}
    </div>
</div>