<div class="row g-3">
    <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
        <span>Configuración General</span>
        <div class="text-end">
            <button class="btn btn-success me-2" [routerLink]="['/config/edit']">Modificar</button>
            <button class="btn btn-primary" [routerLink]="['/home']">Volver</button>
        </div>
    </h3>
    <div class="row mb-2">
        <div class="col-md-9">
            <label for="mpAuthorizationToken" class="form-label">Token de Mercado Pago</label>
            <label for="" class="form-control" id="mpAuthorizationToken">{{ config?.mpAuthorizationToken | defaultString
                }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-3">
            <label for="mpUserId" class="form-label">UserId de Mercado Pago</label>
            <label for="" class="form-control" id="mpUserId">{{ config?.mpUserId | defaultString }}</label>
        </div>

        <div class="col-md-3">
            <label for="mpExpirateTransaction" class="form-label">Tiempo Expiración MP (Seg.)</label>
            <label for="" class="form-control text-end" id="mpExpirateTransaction">{{ config?.mpExpirateTransaction | defaultStringForNumbers }}</label>
        </div>
        <div class="col-md-3">
            <label for="feeBorneClientCharge" class="form-label">Cobro Comisión Bill. Virtual</label>
            <label for="" class="form-control" id="feeBorneClientCharge">{{ config?.feeBorneClientCharge | booleanToYesNo }}</label>
        </div>

   

    </div>
    
    <div class="row mb-2">
        <div class="col-md-9">
            <label for="mpNotificationURL" class="form-label">URL de Notificación de Mercado Pago</label>
            <label for="" class="form-control" id="mpNotificationURL">{{ config?.mpNotificationURL | defaultString
                }}</label>
        </div>
    </div>
    <div class="row mb-2">
       
        <div class="col-md-3">
            <label for="taxPercentage" class="form-label">% de Impuesto</label>
            <label for="" class="form-control text-end" id="taxPercentage">{{ config?.taxPercentage | defaultStringForDecimalNumbers }}</label>
        </div>
    
        <div class="col-md-3">
            <label for="currencySymbol" class="form-label">Símbolo de Moneda</label>
            <label for="" class="form-control text-end" id="currencySymbol">{{ config?.currencySymbol |
                defaultString }}</label>
        </div>
        <div class="col-md-3">
            <label for="printCancelTransaction" class="form-label">Imprime Ticket de Cancelación</label>
            <label for="" class="form-control" id="printCancelTransaction">{{ config?.printCancelTransaction | booleanToYesNo }}</label>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-5">
            <label for="branchName" class="form-label">Nombre de Sucursal</label>
            <label for="" class="form-control" id="branchName">{{ config?.branchName | defaultString
                }}</label>
        </div>
        <div class="col-md-4">
            <label for="takeBranchNameConfiguration" class="form-label">Toma Nombre de la Sucursal de Configuración</label>
            <label for="" class="form-control" id="takeBranchNameConfiguration">{{ config?.takeBranchNameConfiguration | booleanToYesNo }}</label>
        </div>
       
    </div>
    <div class="row mb-2">

        <div class="col-md-9">
            <label for="branchAddress" class="form-label">Dirección de Sucursal</label>
            <label for="" class="form-control" id="branchAddress">{{ config?.branchAddress | defaultString
                }}</label>
        </div>

    </div>

    <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
        <span>Configuración Imágenes</span>
    </h3>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="logoMPImage" class="form-label">Logo MP</label>
            <label for="" class="form-control" id="logoMPImage">{{ config?.logoMPImage | defaultString }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="logoBranchImage" class="form-label">Logo Sucursal</label>

            <label for="" class="form-control" id="logoBranchImage">{{ config?.logoBranchImage | defaultString }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="logoCompanyImage" class="form-label">Logo Empresa</label>

            <label for="" class="form-control" id="logoCompanyImage">{{ config?.logoCompanyImage | defaultString
                }}</label>
        </div>
    </div>

    <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
        <span>Configuración Cupón</span>
    </h3>


    <div class="row mb-2">
        <div class="col-md-8">
            <label for="VoucherTitle" class="form-label">Título</label>
            <label for="" class="form-control" id="VoucherTitle">{{ config?.voucherTitle | defaultString }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="VoucherLine1" class="form-label">Linea 1</label>
            <label for="" class="form-control" id="VoucherLine1">{{ config?.voucherLine1 | defaultString }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="VoucherLine2" class="form-label">Linea 2</label>
            <label for="" class="form-control" id="VoucherLine2">{{ config?.voucherLine2 | defaultString }}</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            <label for="VoucherLine3" class="form-label">Linea 3</label>
            <label for="" class="form-control" id="VoucherLine3">{{ config?.voucherLine3 | defaultString }}</label>
        </div>
    </div>


</div>