
  .button-ok {
  
    font-size: 16px; /* Ajusta el tamaño de la letra */
    padding: 5px 10px; /* Ajusta el relleno del botón */
    margin-left: 10px; /* Espacio entre el encabezado y el botón */
    margin-top: 20px; /* Espacio entre el encabezado y el botón */
  }
