<div class="row g-3">
    <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
        <span>Detalle de Evento</span>
        <div class="text-end">
            <button class="btn btn-primary" [routerLink]="['/event']">Volver</button>
        </div>
    </h3>
    <div class="col-md-6">
        <label for="terminal" class="form-label">Terminal</label>
        <label for="" class="form-control w-auto" id="stamp">{{ event?.terminal?.name }}</label>
    </div>
    <div class="col-md-3">
        <label for="stamp" class="form-label">Fecha y Hora</label>
        <label for="" class="form-control w-auto" id="stamp">{{ event?.stamp | date: 'dd/MM/yy HH:mm:ss' }}</label>
    </div>
    <div class="col-md-3">
        <label for="type" class="form-label">Tipo</label>
        <label for="" class="form-control w-auto" [ngClass]="event?.type | typeClass_text_bg" id="type">{{ event?.type | typeDescription}}</label>
    </div>
   
    <div class="col-md-12">
        <label for="description" class="form-label">Descripción</label>
        <label for="" class="form-control" id="description">{{ event?.description }}</label>
    </div>
    <div class="col-md-12 text-end pt-2 border-top">
        <button class="btn btn-primary" [routerLink]="['/event']">Volver</button>
    </div>
</div>