<div class="modal fade" id="modalFilter" tabindex="-1" role="dialog" [ngClass]="{'show': show}"
    [style.display]="show ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5">Filtros de búsqueda</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="hide()"></button>
            </div>
            <form [formGroup]="form">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-5">
                                <span class="text-decoration-underline">Terminales</span>
                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox" checked #terminalAll
                                    (change)="onCheckboxTerminalAllChange($event)" id="0">&nbsp;
                                <label class="form-check-label" for="0">(todos)</label>
                                <div class="mt-2" *ngFor="let terminal of filter.terminalList; let i = index">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [value]="terminal.terminalId" checked #terminal
                                            (change)="onCheckboxTerminalChange($event)" id="{{ terminal.terminalId }}">
                                        <label class="form-check-label" for="">{{ terminal.name }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="text-decoration-underline">Estado de Trans.</span>
                                &nbsp;&nbsp;<input class="form-check-input" type="checkbox" checked #statusAll
                                    (change)="onCheckboxStatusAllChange($event )" id="0">&nbsp;
                                <label class="form-check-label" for="0">(todos)</label>
                                <div class="mt-2" *ngFor="let enum of filter.statusList; let i = index ">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [value]="enum" checked #status
                                            (change)="onCheckboxStatusChange($event)" id="{{ enum }}">
                                        <label class="form-check-label" [ngClass]="[enum | tranStatusClass_text]"
                                            for="">{{ enum | tranStatusDescription }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="text-decoration-underline">Rango de Fechas</span>
                                <div class="mt-2">
                                    <label for="from" class="form-label">Desde</label>
                                    <input type="date" id="from" class="form-select form-select-sm mb-2"
                                        min="2024-01-01" [max]="tomorrow" formControlName="from">
                                    <label for="from" class="form-label">Hasta</label>
                                    <input type="date" id="to" class="form-select form-select-sm" min="2024-01-01"
                                        [max]="tomorrow" formControlName="to">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="confirm()">Buscar</button>
                    <button type="button" class="btn btn-secondary" (click)="hide()">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>