<event-filter [show]="showModalWindow" (confirmed)="onConfirm($event)" (canceled)="onCancel()"/>
<h3 class="text-light pt-2">Consulta de Eventos
    <button class="btn btn-primary fs-6 fw-bold py-1 w-auto me-2" (click)="showModal()">Filtrar</button>
    <button class="btn btn-primary fs-6 fw-bold py-1 w-auto me-2" (click)="resetFilter()">Limpiar</button>
    <button class="btn btn-primary fs-6 fw-bold py-1 w-auto me-2" (click)="refresh()">Refrescar</button>
</h3>
<form [formGroup]="form">
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle small">
            <caption>
                <div class="row">
                    <div class="col-md-6 justify-content-start">
                        <div class="d-flex  align-items-center mb-3">
                            <label for="itemsPerPageSelect" class="me-2">Cantidad de registros:</label>
                            <select id="itemsPerPageSelect" formControlName="itemsPerPage" (change)="updateItemsPerPage($event)">
                                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                <li class="page-item"><button class="page-link" [disabled]="currentPage === 1"
                                        (click)="changePage(1)">&lt;&lt;</button></li>
                                <li class="page-item"><button class="page-link" [disabled]="currentPage === 1"
                                        (click)="changePage(currentPage - 1)">&lt;</button></li>
                                <li class="page-item" *ngFor="let page of visiblePages">
                                    <button class="page-link" [ngClass]="{ 'active': page === this.currentPage}"
                                        (click)="changePage(page)"> {{ page }}</button>
                                </li>
                                <li class="page-item" *ngIf="AddPoints">
                                    <button class="page-link" (click)="changePage(currentPage + 1)">...</button>
                                </li>

                                <li class="page-item"> <button class="page-link" (click)="changePage(currentPage + 1)"
                                        [disabled]="currentPage === totalPages">&gt;</button></li>
                                <li class="page-item"> <button class="page-link" (click)="changePage(totalPages)"
                                        [disabled]="currentPage === totalPages">&gt;&gt;</button></li>
                            </ul>
                        </nav>
                    </div>
                   
                </div>
            </caption>
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Terminal</th>
                    <th>Tipo</th>
                    <!-- <th>Evento</th> -->
                    <th>Fecha y Hora</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of eventList; let i = index">
                    <!-- <td [ngClass]="[event.type | typeClass_text]" class="text-center">{{ event.eventId }}</td> -->
                    <td [ngClass]="[event.type | typeClass_text]" class="col-2">{{ event.terminal.name }}</td>
                    <td [ngClass]="[event.type | typeClass_text]" class="text-center col-2">{{ event.type | typeDescription }}
                    </td>
                    <!-- <td [ngClass]="[event.type | typeClass_text]" class="">{{ event.name }}</td> -->
                    <td [ngClass]="[event.type | typeClass_text]" class="text-center col-2">{{ event.stamp | date: 'dd/MM/yy HH:mm:ss' }}</td>
                    <td [ngClass]="[event.type | typeClass_text]" class="col-7">{{ event.description }}</td>
                    <td class="text-center"><a type="button" class="btn btn-sm" [routerLink]="['/event', event.eventId]"
                            [ngClass]="[event.type | typeClass_btn]">...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</form>