<shared-confirm-modal [show]="showModalWindow" (confirmed)="onConfirm()" (canceled)="onCancel()"
    message="Se perderán los cambios si cancela la operación ¿Está seguro de continuar?">
</shared-confirm-modal>
<div class="row g-3">
    <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
        <span>Editar Configuración General</span>
        <div class="text-end">
            <button class="btn btn-light me-2" (click)="onSubmit()">Aceptar</button>
            <button class="btn btn-danger" (click)="onClose()">Cancelar</button>
        </div>
    </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-2">
            <div class="col-md-9">
                <label for="mpAuthorizationToken" class="form-label">Token de Mercado Pago</label>
                <input type="text" class="form-control" id="mpAuthorizationToken"
                    formControlName="mpAuthorizationToken" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="mpUserId" class="form-label">UserId de Mercado Pago</label>
                <input type="text" class="form-control" id="mpUserId" formControlName="mpUserId" />
            </div>
            <div class="col-md-3">
                <label for="mpExpirateTransaction" class="form-label">Tiempo Expiración MP (Seg.)</label>
                <input type="text" class="form-control text-end" id="taxPercentage" formControlName="mpExpirateTransaction" />
                <span *ngIf="validationService.invalidField(form, 'mpExpirateTransaction')" class="form-text text-danger">
                    {{ validationService.getFieldError(form, 'mpExpirateTransaction', 'Tiempo Expiración MP (Seg.)') }}
                </span>
            </div>



            <div class="col-md-3 " style="padding-top: 2em;">                
                <div class="form-check">                                   
                    <label for="feeBorneClientCharge" class="form-label">Cobro Comisión Bill. Virtual</label>                    
                    <input class="form-check-input" type="checkbox" id="feeBorneClientCharge" formControlName="feeBorneClientCharge">                     
                </div>
            </div>          
        </div>
        <div class="row mb-2">
            <div class="col-md-9">
                <label for="mpNotificationURL" class="form-label">URL de Notificación de Mercado Pago</label>
                <input type="text" class="form-control" id="mpNotificationURL" formControlName="mpNotificationURL" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-2">
                <label for="taxPercentage" class="form-label">% de Impuesto</label>
                <input type="text" class="form-control text-end" id="taxPercentage" formControlName="taxPercentage" />
                <span *ngIf="validationService.invalidField(form, 'taxPercentage')" class="form-text text-danger">
                    {{ validationService.getFieldError(form, 'taxPercentage', '% de Impuesto') }}
                </span>
            </div>
            <div class="col-md-2">
                <label for="currencySymbol" class="form-label">Símbolo de Moneda</label>
                <input type="text" class="form-control text-end" id="currencySymbol" formControlName="currencySymbol" />
                <span *ngIf="validationService.invalidField(form, 'currencySymbol')" class="form-text text-danger">
                    {{ validationService.getFieldError(form, 'currencySymbol', 'Símbolo de Moneda') }}
                </span>
            </div>
            <div class="col-md-3 " style="padding-top: 2em;">                
                <div class="form-check">                                   
                    <label for="printCancelTransaction" class="form-label">Imprime Ticket de Cancelación</label>                    
                    <input class="form-check-input" type="checkbox" id="printCancelTransaction" formControlName="printCancelTransaction">                     
                </div>
            </div>     
        </div>
        <div class="row mb-2">
            <div class="col-md-5">
                <label for="branchName" class="form-label">Nombre de Sucursal</label>
                <input type="text" class="form-control" id="branchName" formControlName="branchName" />
            </div>

            <div class="col-md-4 " style="padding-top: 2em;">                
                <div class="form-check">                                   
                    <label for="takeBranchNameConfiguration" class="form-label">Toma Nombre de la Sucursal de Configuración</label>                    
                    <input class="form-check-input" type="checkbox" id="takeBranchNameConfiguration" formControlName="takeBranchNameConfiguration">                     
                </div>
            </div>   
        </div>

        <div class="row mb-2">

            <div class="col-md-9">
                <label for="branchAddress" class="form-label">Dirección de Sucursal</label>
                <input type="text" class="form-control" id="branchAddress" formControlName="branchAddress" />
            </div>

        </div>

        <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
            <span>Editar Configuración Imágenes</span>
        </h3>
        <div class="row mt-2 mb-2">
            <div class="col-md-2">
                <label for="logoMPImage" class="col-form-label">Logo MP</label>
            </div>           
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-8">
                <input type="text" class="form-control" id="logoMPImage" formControlName="logoMPImage" readonly />
            </div>
            <div class="col-md-2">
                <input type="file" class="form-control visually-hidden" id="logoMPImageData" accept=".jpeg, .jpg, .png" (change)="onFileSelected($event, 1)" />
                <label for="logoMPImageData" class="btn btn-primary me-2">...</label>             
                <button class="btn btn-danger" (click)="onFileDelete(1,$event)">X</button>
            </div>            
            <span *ngIf="validationService.hasErrors(form, 'logoMPImage')" class="form-text text-danger">
                {{ validationService.getFieldError(form, 'logoMPImage', 'Logo MP') }}
            </span>

        </div>    
        
         <div class="row mt-2 mb-2">
            <div class="col-md-2">
                <label for="logoBranchImage" class="form-label">Logo Sucursal</label>
            </div>         
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-8">
                <input type="text" class="form-control" id="logoBranchImage" formControlName="logoBranchImage" readonly />
            </div>
            <div class="col-md-2">
                <input type="file" class="form-control visually-hidden" id="logoBranchImageData" accept=".jpeg, .jpg, .png"  (change)="onFileSelected($event, 2)" />
                <label for="logoBranchImageData" class="btn btn-primary me-2">...</label>             
                <button class="btn btn-danger" (click)="onFileDelete(2,$event)">X</button>
            </div>
            <span *ngIf="validationService.hasErrors(form, 'logoBranchImage')" class="form-text text-danger">
                {{ validationService.getFieldError(form, 'logoBranchImage', 'Logo Sucursal') }}
            </span>
           
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-2">
                <label for="logoCompanyImage" class="form-label">Logo Empresa</label>
            </div>           
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-8">
                <input type="text" class="form-control" id="logoCompanyImage" formControlName="logoCompanyImage" readonly />
            </div>
            <div class="col-md-2">
                <input type="file" class="form-control visually-hidden" id="logoCompanyImageData" accept=".jpeg, .jpg, .png"  (change)="onFileSelected($event, 3)" />
                <label for="logoCompanyImageData" class="btn btn-primary me-2">...</label>             
                <button class="btn btn-danger" (click)="onFileDelete(3,$event)">X</button>
                
            </div>
            <span *ngIf="validationService.hasErrors(form, 'logoCompanyImage')" class="form-text text-danger">
                {{ validationService.getFieldError(form, 'logoCompanyImage', 'Logo Empresa') }}
            </span>
        </div>

        <h3 class="d-flex justify-content-between align-items-center pt-2 mt-4 pb-2 border-bottom">
            <span>Editar Configuración Cupón</span>
        </h3>
        <div class="row mb-2">
            <div class="col-md-8">
                <label for="VoucherTitle" class="form-label">Título</label>
                <input type="text" class="form-control" id="VoucherTitle" formControlName="VoucherTitle" maxlength="19" />
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-8">
                <label for="VoucherLine1" class="form-label">Linea 1</label>
                <input type="text" class="form-control" id="VoucherLine1" formControlName="VoucherLine1" maxlength="36" />
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-8">
                <label for="VoucherLine2" class="form-label">Linea 2</label>
                <input type="text" class="form-control" id="VoucherLine2" formControlName="VoucherLine2" maxlength="32" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8">
                <label for="VoucherLine3" class="form-label">Linea 1</label>
                <input type="text" class="form-control" id="VoucherLine3" formControlName="VoucherLine3" maxlength="32" />
            </div>
        </div>





    </form>
    <div class="col-md-12 text-end pt-2 border-top">
        <button class="btn btn-light me-2" (click)="onSubmit()">Aceptar</button>
        <button class="btn btn-danger" (click)="onClose()">Cancelar</button>
    </div>
</div>